<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sputtr</title>

  <!-- CSS -->

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Luckiest+Guy&family=Poor+Story&family=Shippori+Mincho+B1&display=swap"
    rel="stylesheet">

  <!--  -->

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <script src="https://kit.fontawesome.com/998dd14d5b.js" crossorigin="anonymous"></script>
</head>

<body>
  <div>
    <h1 id="sputtr">Sputtr</h1>
  </div>

  <p class="login-credens">
    <input type="email" name="email" placeholder="Email" />
    <input type="password" name="password" placeholder="Password" />
  </p>
  <div id="login-buttons">
    <a href="/completedStory">
      <button type="submit" class="login-login">
        Login
      </button>
    </a>
    <a href="/">
      <button class="login-back">
        <i class="far fa-arrow-alt-circle-left arrow"></i>
      </button>
    </a>
  </div>
</body>

</html>
