<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sputtr</title>

  <!-- CSS -->

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap" rel="stylesheet">

  <!--  -->

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/login.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header id="header"></header>
  <h1 id="sputtr">Sputtr</h1>

  <form method="POST" action="/login">
    <p>
      Email:
      <input type="email" name="email" />
      Password:
      <input type="password" name="password" />
    </p>
    <a href="./sputtr_login.ejs">
      <button type="submit" class="index-login">
        Login
      </button>
    </a>
  </form>
</body>

</html>
