<!DOCTYPE html>
<<<<<<< HEAD
<html lang="en">

<head>
  <title>Sputtr</title>

  <!-- CSS -->

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap" rel="stylesheet">

  <!--  -->

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header id="header"></header>
  <h1 id="sputtr">Sputtr</h1>

  <form method="POST" action="/login">
    <p>
      Name:
      <input type="name" name="name" />
      Email:
      <input type="email" name="email" />
      Password:
      <input type="password" name="password" />
    </p>
    <a href="./sputtr_login.ejs">
      <button type="submit" class="index-register">
        Register
      </button>
    </a>
  </form>
</body>

=======

<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <main style="margin: lem">
      <h2 style="text-align: center">Create New Account</h2>
      <h3>Sign up in order to create URL!</h3>
      <form class="form-inline" action="/register" method="POST">
        <div class="form-group mb-2">
          <label for="email">E-mail:</label>
          <input
            class="form-control"
            type="email"
            name="email"
            style="width: 300px; margin: 1em"
          />
          <label for="password">Password:</label>
          <input
            class="form-control"
            type="password"
            required
            name="password"
            style="width: 300px; margin: 1em"
          />
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </main>
  </body>
>>>>>>> origin
</html>
