<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sputtr</title>

  <!-- CSS -->

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap" rel="stylesheet">

  <!--  -->

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/register.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div>
    <h1 id="sputtr">Sputtr</h1>
  </div>

  <p class="register-credens">
    Username:
    <input type="username" name="username" />
    Email:
    <input type="email" name="email" />
    Password:
    <input type="password" name="password" />
  </p>
  <div id="register-buttons">
    <a href="/login">
      <button type="submit" class="register-button">
        Register
      </button>
    </a>
    <a href="/">
      <button class="register-back">
        <img src="/w6/story-creator-middie/img icons/back.png" alt="register-back-arrow">
      </button>
    </a>
  </div>
</body>

</html>
