<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sputtr</title>

  <!-- CSS -->

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Luckiest+Guy&family=Poor+Story&family=Shippori+Mincho+B1&display=swap"
    rel="stylesheet">

  <!--  -->

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/storyInProgress.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <div>
    <header id="header">

      <div>
        <a href="/">
          <button class="header-logout">
            logout
          </button>
        </a>
      </div>

      <div>
        <h1 id="header-sputtr">Sputtr</h1>
      </div>

      <div>
        <a href="/completedStory">
          <button class="header-saved">
            sputtr'd tales
          </button>
        </a>
      </div>

      <div>
        <a href="/newStory">
          <button class="header-saved">
            sputtr a new tale!
          </button>
        </a>
      </div>

    </header>
  </div>

  <div>
    <span class="progress-title">
      story titles
    </span>
  </div>

  <!-- write to make sure ifCompleted === false in order for title(teller-display) && teller-input to show up -->
  <!-- also write to make ifCompleted === true -->
  <!-- title inputbox is in story -->
  <div id="progress-storymaker">

    <!-- form tag starts here-->
    <!-- select option control -->

    <% for(let story in stories) { %>

      <a href=<%=`/storyInProgress/${stories[story].id}` %>>
        <%= stories[story].title %>
      </a>
      <% if (stories[story].iscompleted===true) {%>
        <span>completed</span>
        <% } else {%>
          <span>incomplete</span>
          <% } %>
            <% } %>

              <!-- Form tag closes here-->

              <div id="progress-buttons">
                <a href="">
                  <button class="progress-delete">
                    delete a title
                  </button>
                </a>
              </div>




  </div>

</body>

</html>
