<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sputtr</title>

  <!-- CSS -->

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  <link
    href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Luckiest+Guy&family=Poor+Story&family=Shippori+Mincho+B1&display=swap"
    rel="stylesheet">

  <!--  -->

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/storyInProgress.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <div>
    <header id="header">
      <div>
        <a href="/">
          <button class="header-logout">
            Logout
          </button>
        </a>
      </div>
      <div>
        <h1 id="header-sputtr">Sputtr</h1>
      </div>
      <div>
        <a href="/completedStory">
          <button class="header-saved">
            Sputtr'd tales of old
          </button>
        </a>
      </div>
    </header>
  </div>

  <div id="story-post">
    <p>

    </p>
  </div>

  <div id="teller-buttons">
    <p class="teller-display">Story in Progress</p>

    <textarea class="teller-input" placeholder="What happened next?"></textarea>
    <a href="/newStory.ejs">
      <button class="teller-template">
        Submit
      </button>
    </a>
  </div>
</body>

</html>
